*,
*::before,
*::after{
    box-sizing: border-box;
}





:root{
    
    --clr-text: #030104;
    --clr-text-lessopacity: #62645B;

    --clr-nav-bar-color: #62645B;
    --clr-background-color: #292D32;

    --clr-primary-color: #01BCD6;
    --clr-button-color: #6C70DC;
    
    --clr-light: #FFF;
    --clr-dark: #000;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    


    

}


body {
  
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;





}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease;
    background: var(--clr-background-color);
    padding-bottom: 60px;

}

.sidebar.minimized {
    width: 84px;
}

/* 

.sidebar:hover {
    width: 260px;
    transition: 0.5s;
} 
*/



.logo {
    height: 100px;
    padding: 32px 24px;

    display: flex;
    align-items: center;
    gap: 32px;


}

.logo img {
    width:150px;

}

.logo i {
    color: white;
    font-size: 24px;
    opacity: 0;
    cursor: pointer;

}


.menu {
    height: 88%;
    position: relative;
    padding: 0;
}


.menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu button {
    padding: 0;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
   
    gap: 2rem;
    background-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-regular);
    font-size:24px;
}


.menu i {

    color: var(--clr-nav-bar-color);
    font-size: 24px;
 
}

.menu span {
    color: var(--clr-nav-bar-color);
    font-size: 1rem;
    font-weight: var(--fw-medium);
} 


.menu p {
    color: var(--clr-light);
    margin-left: 32px;
}






.menu li {
  
    list-style: none;
    transition: all 0.5s ease-in-out;
    padding: 16px 0 16px 32px;
    margin-bottom: 8px;
    

}

.menu li:hover, .active  {
    background: #33373C;
    
}




li a i  {
    transition: all 0.5s ease-in-out;
}

li a span  {
     transition: all 0.5s ease-in-out;
    
}

li:hover a i  {
    color: var(--clr-primary-color);
}


li.active a i  {
    color: var(--clr-primary-color);
}


li:hover a span  {
    color: var(--clr-light);
}


li.active a span  {
    color: var(--clr-light); 
}




.dropdown-container {
    display: none;
    padding: 16px 0 0 55px;
    margin-top: 16px;
   

}

.dropdown-container a {
  color: var(--clr-nav-bar-color);
  font-size: 1rem;
  font-weight: var(--fw-medium);
  transition: all 0.5s ease-in-out;
  margin-bottom: 24px;
}

.dropdown-container a:hover {
    color: var(--clr-light);
}



li button i  {
    transition: all 0.5s ease-in-out;
}

li button span  {
     transition: all 0.5s ease-in-out;
    
}

li:hover button i  {
    color: var(--clr-primary-color);
}


li.active button i  {
    color: var(--clr-primary-color);
}


li:hover button span  {
    color: var(--clr-light);
}


li.active button span  {
    color: var(--clr-light); 
}








.logout {
 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.logout button {
    background-color: transparent;
    border: none;
    outline: none;
}


.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {

    display: flex;
    align-items: center;
}

.header-title p {
    color: #424242;
    font-size: 36px;
    font-weight: var(--fw-bold);
}

.header-title span {
    font-size: 36px;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-color);
}

.menu-search {
    display: flex;
    align-items: center;
    gap:24px;
}

.bx-menu {
    font-size: 24px;
    cursor: pointer;
}


.profile-icon {
    width: 48px;
    height: 48px;
    border: 1px solid var(--fw-light);
    border-radius: 24px;
 
    background-image: url(../images/PROFILE.png);
}

.user--info {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    
}

.bx-bell{
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 24px;

}



.notification { 
    position: relative;
}


.notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background-color: var(--clr-primary-color);
    color: var(--clr-light);
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.search-box {
    width: 600px;
    height: 48px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 8px;
    gap: 8px;

    color: var(--clr-dark);
}
.search-box i {
    cursor: pointer;
    transition:  all 0.5s ease-in-out;
    font-size: 16px;

   
}


.search-box i:hover {
    transform: scale(1.5);
}
.search-box input {
    border: transparent none;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;
    padding: 10px;
    font-family: Poppins, sans-serif;
    font-weight: var(--fw-regular);
    font-size:16px;
}



.dropdown-profile {
    display: none;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);


    padding: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
}

.dropdown-notifications {
    display: none;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);

    padding: 20px;
    position:  absolute;
    top: 100%;
    right: 60%;
}


.user-info {
    display: flex;
    align-items: center;
    gap:22px;
    cursor: pointer;
}

.user-info button {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  
    border: none;
    outline: none;

    cursor: pointer;

}
.edit-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.edit-profile1 i {
    background-color: #D9D9D9;
    width: 32px;
    height: 32px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-profile1 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.help-support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}






.main--content {
    position: relative;
    background-color: #F6F7FB; 
    
    width: 100%;
    padding: 32px 40px;

}









.first-container h1 {

    font-weight: var(--fw-semibold);
    margin: 0;
    padding: 0;
    margin-top: 36px;
    font-size: 36px;
}



.info-available p {
    margin: 0;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 36px;
    font-weight: var(--fw-medium);
    color: var(--clr-text);
}


.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 36px;
    row-gap: 36px;
    align-items: start;

    margin-top: 36px;


}


.card-box {

    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);


}


.topbox {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
   
}

.bottombox {

    border-top: 0.5px solid #ccc;

    padding: 12px 24px 12px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.bottombox a {
    color: var(--clr-text-lessopacity);
}


.bx-chevron-right {
    font-size: 24px;
    color: #000;


}


.card-box p {
    margin: 0;
}

.topbox i {
    font-size: 1rem;
    padding: 12px;
    border-radius: 24px;
}


.bxs-user {
    color: var(--clr-button-color);
    background-color: #F1EDFB;
}

.bxs-group {
    color: var(--clr-primary-color);
    background-color: #d3f3fa;
}

.bxs-bed {
    color: #DA9470;
    background-color: #fce8de;
}

.bxs-book-content {
    color: #E25782;
    background-color: #fcd6e2;
}


.text-box {
    display: flex;
}

.text-patients span {
    font-weight: var(--fw-semibold);
    color: var(--clr-dark);
    font-size: 20px;
    margin-left: 4px;
}

.text-patients {
    color: var(--clr-text-lessopacity);
}





@media screen and (min-width: 768px) and (max-width: 1800px) {

    .main--content {
        width: 100%;
    }

    .search-box  {
    width: 300px;
    }
  
    .inside-container {
        flex-direction: column;
        justify-content: center;
    }

    .available-container {
        width: 100%;
    }
    .available-doctors {
        width: 100%;
    }
    
    .schedule-container {
        justify-content: center;
        gap: 24px;
    } 



    .daily-progress {
        width: 100%;
    }
    
    .bottom-container {
        width: 100%; 
     
    }

    .conditions-slider {
        overflow-x: scroll;
    }


    
    .appointments-box {
        width: 100%;
        justify-content: center;
        align-items: center;
    }




} 








@media screen and (min-width: 0px) and (max-width: 768px) {

    
    .card-container {
     
        grid-template-columns: repeat(1, 1fr);
       
    }

    .main--content {
        width: 100%;
        padding: 16px;
    }

    .search-box  {
    width: 130px;
    }

    .menu-search .bx-search {
        opacity: 0;

    }

 
  
    .inside-container {
        flex-direction: column;
        justify-content: center;
    }

    .available-container {
        width: 100%;
    }
    .available-doctors {
        width: 100%;
    }
    
    .schedule-container {
        justify-content: center;
        gap: 24px;
    } 



    .daily-progress {
        width: 100%;
    }
    
    .bottom-container {
        width: 100%; 
     
    }

    .conditions-slider {
        overflow-x: scroll;
    }


    .appointments-box {
        width: 100%;
        justify-content: center;
        align-items: center;
    }



    .sidebar {
        
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 260px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease;
    background: var(--clr-background-color);
    padding-bottom: 60px;
    z-index: 1;
    }


    .sidebar.minimized {
        left: 0;
        width: 260px;
    }


    .logo i {
        opacity: 1;
    }


   
 



} 

@media screen and (min-width: 1000px) and (max-width: 1500px) {

    .card-container {
     
        grid-template-columns: repeat(3, 1fr);
       
    }




}






@media screen and (min-width: 768px) and (max-width: 1000px) {

    .card-container {
     
        grid-template-columns: repeat(2, 1fr);
       
    }


   

    .sidebar {
        
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        width: 260px;
        height: 100vh;
        overflow: hidden;
        transition: all 0.5s ease;
        background: var(--clr-background-color);
        padding-bottom: 60px;
        z-index: 1;
        }
    
    
        .sidebar.minimized {
            left: 0;
            width: 260px;
        }
    
    
        .logo i {
            opacity: 1;
        }
    
    

}







