*,
*::before,
*::after{
    box-sizing: border-box;
}





:root{
    
    --clr-text: #030104;
    --clr-text-lessopacity: #62645B;

    --clr-nav-bar-color: #62645B;
    --clr-background-color: #292D32;

    --clr-primary-color: #01BCD6;
    --clr-button-color: #6C70DC;
    
    --clr-light: #FFF;
    --clr-dark: #000;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    


    

}


body {
  
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;





}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease;
    background: var(--clr-background-color);
    padding-bottom: 60px;

}

.sidebar.minimized {
    width: 84px;
}

/* 

.sidebar:hover {
    width: 260px;
    transition: 0.5s;
} 
*/



.logo {
    height: 100px;
    padding: 32px 24px;

    display: flex;
    align-items: center;
    gap: 32px;


}

.logo img {
    width:150px;

}

.logo i {
    color: white;
    font-size: 24px;
    opacity: 0;
    cursor: pointer;

}


.menu {
    height: 88%;
    position: relative;
    padding: 0;
}


.menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu button {
    padding: 0;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
   
    gap: 2rem;
    background-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-regular);
    font-size:24px;
}


.menu i {

    color: var(--clr-nav-bar-color);
    font-size: 24px;
 
}

.menu span {
    color: var(--clr-nav-bar-color);
    font-size: 1rem;
    font-weight: var(--fw-medium);
} 


.menu p {
    color: var(--clr-light);
    margin-left: 32px;
}



.bxs-chevron-down {
   
 
    margin-right: 20px;
}





.menu li {
  
    list-style: none;
    transition: all 0.5s ease-in-out;
    padding: 16px 0 16px 32px;
    margin-bottom: 8px;
    

}

.menu li:hover, .active  {
    background: #33373C;
    
}




li a i  {
    transition: all 0.5s ease-in-out;
}

li a span  {
     transition: all 0.5s ease-in-out;
    
}

li:hover a i  {
    color: var(--clr-primary-color);
}


li.active a i  {
    color: var(--clr-primary-color);
}


li:hover a span  {
    color: var(--clr-light);
}


li.active a span  {
    color: var(--clr-light); 
}




.dropdown-container {
    display: none;
    padding: 16px 0 0 55px;
    margin-top: 16px;
   

}

.dropdown-container a {
  color: var(--clr-nav-bar-color);
  font-size: 1rem;
  font-weight: var(--fw-medium);
  transition: all 0.5s ease-in-out;
  margin-bottom: 24px;
}

.dropdown-container a:hover {
    color: var(--clr-light);
}



li button i  {
    transition: all 0.5s ease-in-out;
}

li button span  {
     transition: all 0.5s ease-in-out;
    
}

li:hover button i  {
    color: var(--clr-primary-color);
}


li.active button i  {
    color: var(--clr-primary-color);
}


li:hover button span  {
    color: var(--clr-light);
}


li.active button span  {
    color: var(--clr-light); 
}








.logout {
 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.logout button {
    background-color: transparent;
    border: none;
    outline: none;
}


.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {

    display: flex;
    align-items: center;
}

.header-title p {
    color: #424242;
    font-size: 36px;
    font-weight: var(--fw-bold);
}

.header-title span {
    font-size: 36px;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-color);
}

.menu-search {
    display: flex;
    align-items: center;
    gap:24px;
}

.bx-menu {
    font-size: 24px;
    cursor: pointer;
}


.profile-icon {
    width: 48px;
    height: 48px;
    border: 1px solid var(--fw-light);
    border-radius: 24px;
 
    background-image: url(../images/PROFILE.png);
}

.user--info {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    
}

.bx-bell{
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 24px;

}



.notification { 
    position: relative;
}


.notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background-color: var(--clr-primary-color);
    color: var(--clr-light);
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.search-box {
    width: 600px;
    height: 48px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 8px;
    gap: 8px;

    color: var(--clr-dark);
}
.search-box i {
    cursor: pointer;
    transition:  all 0.5s ease-in-out;
    font-size: 16px;

   
}


.search-box i:hover {
    transform: scale(1.5);
}
.search-box input {
    border: transparent none;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;
    padding: 10px;
    font-family: Poppins, sans-serif;
    font-weight: var(--fw-regular);
    font-size:16px;
}



.dropdown-profile {
    display: none;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);


    padding: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
}

.dropdown-notifications {
    display: none;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);

    padding: 20px;
    position:  absolute;
    top: 100%;
    right: 60%;
}


.user-info {
    display: flex;
    align-items: center;
    gap:22px;
    cursor: pointer;
}

.user-info button {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  
    border: none;
    outline: none;

    cursor: pointer;

}
.edit-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.edit-profile1 i {
    background-color: #D9D9D9;
    width: 32px;
    height: 32px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-profile1 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.help-support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}






.main--content {
    position: relative;
    background-color: #F6F7FB; 
    
    width: 100%;
    padding: 32px 40px;

}






.inside-container{
    overflow-x: auto;
border-radius: 4px;
background-color: white ;
border: 1px solid #dddddd;

padding: 30px 30px;
margin-top: 36px;

}





table p {
    padding: 0;
    margin: 0;

}




.navigation p {
    color:  var(--clr-primary-color);
    font-weight: var(--fw-medium);
    letter-spacing: 0.5px;
    margin: 0;
}

.navigation span {
    color: var(--clr-text-lessopacity);
}






.button-action {
    display: flex;
    gap: 4px;
}


.view-button {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: rgb(46, 204, 113);
    color: white;
    padding: 8px;
    border-radius: 4px;

    font-family: 'Poppins' ,    sans-serif;

    cursor: pointer;

    transition: all 0.5s ease;
}



.edit-button {

    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: rgb(230, 207, 0);
    color: white;
    padding: 8px;
    border-radius: 4px;

    font-family: 'Poppins' ,    sans-serif;

    cursor: pointer;

    transition: all 0.5s ease;


}


.delete-button {

    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: rgb(192, 57, 43);
    color: white;
    padding: 8px;
    border-radius: 4px;

    font-family: 'Poppins' ,    sans-serif;

    cursor: pointer;

    transition: all 0.5s ease;

}


.view-button:hover, .delete-button:hover , .edit-button:hover {

    box-shadow:2px 2px 5px rgba(0,0,0,0.20), inset 0 0 0 99999px rgba(0,0,0,0.2);

}







.delete-modal {
    display: none;
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    
    
    .delete-modal-content {
    background-color: white;
    padding: 36px 36px;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
    }
    
    
    .modal-buttons {
        display: flex;
        justify-content: end;
        gap: 12px;
    
    
    }
    
    
    .confirm {
    
        cursor: pointer;
    
        padding: 8px 16px;
        border: none;
        outline: none;
        border-radius: 4px;
        border: 1px solid #C70000;
        background:#C70000;
    
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: var(--fw-regular);
        font-size: 1rem;
    }
    
    
    .close-btn {
        cursor: pointer;
    
        padding: 8px 16px;
        border: none;
        outline: none;
        border-radius: 4px;
        border: 1px solid #ccc;
        background:transparent;
    
        color: var(--clr-text-lessopacity);
        font-family: 'Poppins', sans-serif;
        font-weight: var(--fw-regular);
        font-size: 1rem;
    
    }
    











@media screen and (min-width: 768px) and (max-width: 1800px) {

    .main--content {
        width: 100%;
    }

    .search-box  {
    width: 300px;
    }
  
    .inside-container {
        flex-direction: column;
        justify-content: center;
    }

    .available-container {
        width: 100%;
    }
    .available-doctors {
        width: 100%;
    }
    
    .schedule-container {
        justify-content: center;
        gap: 24px;
    } 



    .daily-progress {
        width: 100%;
    }
    
    .bottom-container {
        width: 100%; 
     
    }

    .conditions-slider {
        overflow-x: scroll;
    }


    
    .appointments-box {
        width: 100%;
        justify-content: center;
        align-items: center;
    }




} 



@media screen and (min-width: 0px) and (max-width: 768px) {

    .main--content {
        width: 100%;
        padding: 16px;
    }

    .search-box  {
    width: 130px;
    }

    .menu-search .bx-search {
        opacity: 0;

    }

 
  
    .inside-container {
        flex-direction: column;
        justify-content: center;
    }

    .available-container {
        width: 100%;
    }
    .available-doctors {
        width: 100%;
    }
    
    .schedule-container {
        justify-content: center;
        gap: 24px;
    } 



    .daily-progress {
        width: 100%;
    }
    
    .bottom-container {
        width: 100%; 
     
    }

    .conditions-slider {
        overflow-x: scroll;
    }


    .appointments-box {
        width: 100%;
        justify-content: center;
        align-items: center;
    }



    .sidebar {
        
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 260px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease;
    background: var(--clr-background-color);
    padding-bottom: 60px;
    z-index: 1;
    }


    .sidebar.minimized {
        left: 0;
        width: 260px;
    }


    .logo i {
        opacity: 1;
    }


   
 



} 



@media screen and (max-width: 1000px) {

    .sidebar {
        
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        width: 260px;
        height: 100vh;
        overflow: hidden;
        transition: all 0.5s ease;
        background: var(--clr-background-color);
        padding-bottom: 60px;
        z-index: 1;
        }
    
    
        .sidebar.minimized {
            left: 0;
            width: 260px;
        }
    
    
        .logo i {
            opacity: 1;
        }
    
    

}







