*,
*::before,
*::after{
    box-sizing: border-box;
  
}





:root{
    
    --clr-text: #030104;
    --clr-text-lessopacity: #62645B;

    --clr-nav-bar-color: #62645B;
    --clr-background-color: #292D32;

    --clr-primary-color: #01BCD6;
    --clr-button-color: #6C70DC;
    
    --clr-light: #FFF;
    --clr-dark: #000;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    


    

}


body {
  
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;


  





}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease;
    background: var(--clr-background-color);
    padding-bottom: 60px;

}

.sidebar.minimized {
    width: 84px;
}

/* 

.sidebar:hover {
    width: 260px;
    transition: 0.5s;
} 
*/



.logo {
    height: 100px;
    padding: 32px 24px;

    display: flex;
    align-items: center;
    gap: 32px;


}

.logo img {
    width:150px;

}

.logo i {
    color: white;
    font-size: 24px;
    opacity: 0;
    cursor: pointer;

}


.menu {
    height: 88%;
    position: relative;
    padding: 0;
}


.menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}


.menu i {

    color: var(--clr-nav-bar-color);
    font-size: 24px;
 
}

.menu span {
    color: var(--clr-nav-bar-color);
    font-size: 1rem;
    font-weight: var(--fw-medium);
} 

.menu p {
    color: var(--clr-light);
    margin-left: 32px;
}






.menu li {
  
    list-style: none;
    transition: all 0.5s ease-in-out;
    padding: 16px 0 16px 32px;
    margin-bottom: 8px;
    

}

.menu li:hover, .active  {
    background: #33373C;
    
}




li a i {
    transition: all 0.5s ease-in-out;
}

li a span {
     transition: all 0.5s ease-in-out;
    
}

li:hover a i {
    color: var(--clr-primary-color);
}


li.active a i {
    color: var(--clr-primary-color);
}


li:hover a span {
    color: var(--clr-light);
}


li.active a span {
    color: var(--clr-light); 
}




.dropdown-container {
    display: none;
    padding: 16px 0 0 55px;
    margin-top: 16px;
   

}

.dropdown-container a {
  color: var(--clr-nav-bar-color);
  font-size: 1rem;
  font-weight: var(--fw-medium);
  transition: all 0.5s ease-in-out;
  margin-bottom: 24px;
}

.dropdown-container a:hover {
    color: var(--clr-light);
}


.menu button {
    padding: 0;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
   
    gap: 2rem;
    background-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-regular);
    font-size:24px;
}




li button i  {
    transition: all 0.5s ease-in-out;
}

li button span  {
     transition: all 0.5s ease-in-out;
    
}

li:hover button i  {
    color: var(--clr-primary-color);
}


li.active button i  {
    color: var(--clr-primary-color);
}


li:hover button span  {
    color: var(--clr-light);
}


li.active button span  {
    color: var(--clr-light); 
}










.logout {
 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.logout button {
    background-color: transparent;
    border: none;
    outline: none;
}




.main--content {
    position: relative;
    background-color: #F6F7FB; 
    
    width: 100%;
    padding: 32px 40px;

}






.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {

    display: flex;
    align-items: center;
}

.header-title p {
    color: #424242;
    font-size: 36px;
    font-weight: var(--fw-bold);
}

.header-title span {
    font-size: 36px;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-color);
}

.menu-search {
    display: flex;
    align-items: center;
    gap:24px;
}

.bx-menu {
    font-size: 24px;
    cursor: pointer;
}


.profile-icon {
    width: 48px;
    height: 48px;
    border: 1px solid var(--fw-light);
    border-radius: 24px;
 
    background-image: url(../images/PROFILE.png);
}

.user--info {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    
}

.bx-bell{
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 24px;

}



.notification { 
    position: relative;
}


.notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background-color: var(--clr-primary-color);
    color: var(--clr-light);
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.search-box {
    width: 600px;
    height: 48px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 8px;
    gap: 8px;

    color: var(--clr-dark);
}
.search-box i {
    cursor: pointer;
    transition:  all 0.5s ease-in-out;
    font-size: 16px;

   
}


.search-box i:hover {
    transform: scale(1.5);
}
.search-box input {
    border: transparent none;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;
    padding: 10px;
    font-family: Poppins, sans-serif;
    font-weight: var(--fw-regular);
    font-size:16px;
}



.dropdown-profile {
    display: none;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);


    padding: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
}

.dropdown-notifications {
    display: none;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);

    padding: 20px;
    position:  absolute;
    top: 100%;
    right: 60%;
}


.user-info {
    display: flex;
    align-items: center;
    gap:22px;
    cursor: pointer;
}

.user-info button {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  
    border: none;
    outline: none;

    cursor: pointer;

}
.edit-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.edit-profile1 i {
    background-color: #D9D9D9;
    width: 32px;
    height: 32px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-profile1 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.help-support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.first-container {

    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.inside-container {
    width: 1000px;
    border-radius: 4px;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 12px 16px 0px rgba(16, 24, 40, 0.08);

}

.title-1 {
    background-color: #EEEEEE;

    padding: 20px;

  
}


.title-1 p {
    margin: 0;
    font-weight: var(--fw-medium);



}



form {
    padding: 20px;
    background-color: white;
}

.input-container span {
    color: red;
}


.input-container {

    display: flex;
    align-items: center;
    justify-content: space-between;


    margin-bottom: 24px;


}


.input-container input {
    width: 750px;
    padding: 12px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;

    font-family: 'Poppins',   sans-serif;

}



.input-container select {
    width: 750px;
    padding: 12px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;

    font-family: 'Poppins',   sans-serif;

}





.savebtn {


    cursor: pointer;

    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--clr-button-color);
    background:var(--clr-button-color);

    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-regular);
    font-size: 1rem;
}






.success-message {
 display: none;
    margin: 16px;
    color: #270;
    background-color: #DFF2BF;
    padding: 10px;
    border-radius: 5px;
}


.errorMessage {
    display: none;
    margin: 16px;
  
    color: #D8000C;
    background-color: #FFBABA;
    padding: 10px;
    border-radius: 5px;
}



.backbtn {
    margin-top: 24px;
   
    text-align: center;
}

.backbtn a {
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--clr-light);
    background-color: var(--clr-nav-bar-color);

}







@media screen and (min-width: 768px) and (max-width: 1024px) {

    .main--content {
        width: 100%;
    }

    .search-box  {
    width: 300px;
    }


    
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 24px;

    }


  
  



} 


@media screen and (min-width: 0px) and (max-width: 768px) {

    .main--content {
        width: 100%;
        padding: 16px;
    }

    .search-box  {
    width: 130px;
    }

    .menu-search .bx-search {
        opacity: 0;

    }

 


    .sidebar {
        
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 260px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease;
    background: var(--clr-background-color);
    padding-bottom: 60px;
    z-index: 1;
    }


    .sidebar.minimized {
        left: 0;
        width: 260px;
    }


    .logo i {
        opacity: 1;
    }


    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 24px;

    }






   
 



} 





@media screen and (max-width: 1000px) {

    .sidebar {
        
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        width: 260px;
        height: 100vh;
        overflow: hidden;
        transition: all 0.5s ease;
        background: var(--clr-background-color);
        padding-bottom: 60px;
        z-index: 1;
        }
    
    
        .sidebar.minimized {
            left: 0;
            width: 260px;
        }
    
    
        .logo i {
            opacity: 1;
        }
    
    

}



